<?xml version="1.0" ?>
<launch>
    <arg name="arm_id"                  default="panda"/>
    <arg name="headless"                default="false"/>
    <!-- <arg name="world"                   default="worlds/empty.world"/> -->
    <arg name="world"                   default="$(find grasp_sim)/worlds/defalut.world"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name"          value="$(arg world)"/>
        <!-- Always start in paused mode, and only unpause when spawning the model -->
        <arg name="paused"              value="true"/>
        <arg name="gui"                 value="$(eval not arg('headless'))"/>
        <arg name="use_sim_time"        value="true"/>
    </include>

    <group ns="panda">
        <include file="$(find panda_moveit_config)/launch/demo_gazebo.launch" pass_all_args="true">
            <arg name="arm_id"          default="$(arg arm_id)"/>
            <arg name="load_gripper"    default="true"/>
            <arg name="use_rviz"        default="false"/>
            <arg name="x"               default="0"/>
            <arg name="y"               default="0"/>
            <arg name="z"               default="0.6"/>
            <arg name="roll"            default="0"/>
            <arg name="pitch"           default="0"/>
            <arg name="yaw"             default="1.57079632679"/>
        </include>
    </group>

    <group ns="realsense">
        <arg name="x"                   default="0"/>
        <arg name="y"                   default="0.7"/>
        <arg name="z"                   default="2"/>
        <arg name="roll"                default="0"/>
        <arg name="pitch"               default="1.570796"/>
        <arg name="yaw"                 default="1.5707960"/>
        <arg name="model"               default="$(find grasp_sim)/urdf/d435_camera.urdf.xacro"/>
        <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
        <node name="camera_model_spawner" pkg="gazebo_ros" type="spawn_model"
            args="-x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -unpause -urdf -model realsense -param robot_description"
            respawn="false" output="screen"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <param name="publish_frequency" type="double" value="30.0"/>
        </node>
        <!-- 发布相机基座到世界坐标系的静态TF  ！！！注意参数顺序 yaw pitch roll -->
        <node pkg="tf2_ros" type="static_transform_publisher" name="camera_base_tf"
            args="$(arg x) $(arg y) $(arg z) $(arg yaw) $(arg pitch) $(arg roll) world camera_base_link"/>
    </group>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find grasp_sim)/rviz/start_gazebo.rviz" required="true" />

    <!-- <node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher">
        <rosparam param="source_list">[franka_state_controller/joint_states, franka_gripper/joint_states] </rosparam>
        <param name="rate" value="30"/>
    </node> -->

</launch>

